@font-face {
  font-family: "Archivo";
  src: url("./utils/ArchivoBlack-Regular.ttf");
}
@font-face {
  font-family: "LatoLight";
  src: url("./utils/Lato-Light.ttf");
}
@font-face {
  font-family: "LatoBold";
  src: url("./utils/Lato-Bold.ttf");
}
@font-face {
  font-family: "LatoReg";
  src: url("./utils/Lato-Regular.ttf");
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
